<h1>Dojos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td class="big"><%= link_to dojo.name, dojo %></td>
        <td>Pupils: <%= dojo.total %> </td>
        <td><%= link_to 'Edit', edit_dojo_path(dojo) %></td>
        <% if dojo.teachers.length == 0 %>
          <td><%= link_to 'Destroy', dojo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dojo', new_dojo_path %>
